WEB control LED
[
    {
        "id": "1405286b.6473a8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e67c5daf.4eac2",
        "type": "http in",
        "z": "1405286b.6473a8",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "522cb1d3.baf5d",
                "2a436b50.8c80c4"
            ]
        ]
    },
    {
        "id": "522cb1d3.baf5d",
        "type": "function",
        "z": "1405286b.6473a8",
        "name": "set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "4cdb5f50.6b7d8"
            ]
        ]
    },
    {
        "id": "4cdb5f50.6b7d8",
        "type": "rpi-gpio out",
        "z": "1405286b.6473a8",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a436b50.8c80c4",
        "type": "function",
        "z": "1405286b.6473a8",
        "name": "Retrun Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "89059b30.e081e8",
                "8c895361.32c88"
            ]
        ]
    },
    {
        "id": "8c895361.32c88",
        "type": "debug",
        "z": "1405286b.6473a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "89059b30.e081e8",
        "type": "http response",
        "z": "1405286b.6473a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "b07c2fd4.39a8b",
        "type": "http in",
        "z": "1405286b.6473a8",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "54f154e2.a7fa9c",
                "a7317849.96e9c8"
            ]
        ]
    },
    {
        "id": "54f154e2.a7fa9c",
        "type": "function",
        "z": "1405286b.6473a8",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "4cdb5f50.6b7d8"
            ]
        ]
    },
    {
        "id": "a7317849.96e9c8",
        "type": "function",
        "z": "1405286b.6473a8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to LOW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "8c895361.32c88",
                "89059b30.e081e8"
            ]
        ]
    }
]
